@mixin button($color: green) {
    height: 24px;
    min-width: 24px;
    padding: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);

    & i {
        font-size: 18px;
    } 
    
    &:active, &.active {
        color: $color;
        cursor: pointer;
    }

    &:hover {
        border: 1px solid#1a73e8;
        cursor: pointer;
    }
}

@mixin clear-list() {
    list-style: none;
    margin: 0;
    padding: 0;
  }